# Ignore log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore build and distribution directories
node_modules
dist
dist-ssr
*.local

# Ignore editor-specific directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

### Firebase ###
# Ignore Firebase specific files and directories
.idea
**/node_modules/*
**/.firebaserc

### Firebase Patch ###
# Ignore Firebase patch files
.runtimeconfig.json
.firebase/

### React ###
# Ignore editor and backup files related to React
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

# Ignore third-party dependencies and build artifacts
node_modules
bower_components

# Ignore design files
*.sublime*
psd
thumb
sketch


# Ignore folder public
/public/
/dist/

# Ignore .env
.env
