@tailwind base;
@tailwind components;
@tailwind utilities;

.page-container {
  min-height: 100vh;
  padding: 20px;
}

.section {
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #ff9900;
  @apply bg-gradient-to-r from-orange-300 to-indigo-200 rounded-lg;
}

.section-title {
  color: white;
  margin-top: 0;
  font-size: 30px;
}

.sub-section {
  flex: 1 1 calc(50% - 20px);
  margin-bottom: 20px;
  margin-right: 20px;
}

.evaluation-section {
  flex: 1;
}

.user-evaluation-images {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.user-evaluation-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.sub-section-title {
  margin-top: 0;
  font-size: 2em;
  @apply text-indigo-600 text-center mb-10 mt-16
}

.row-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: -10px;
}

@media (max-width: 768px) {
  .sub-section {
    flex-direction: column;
  }

  .user-evaluation-images {
    width: 100%;
    max-width: 100%;
    margin: 0 auto; 
  }

  .user-evaluation-images img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }

  .evaluation-section {
    width: 100%;
  }
}


