@tailwind base;
@tailwind components;
@tailwind utilities;



.page-container {
    min-height: 100vh; /* Set maximum height to viewport height */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    padding: 20px; /* Add padding if needed */
}

.section {
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    
  }
  
.section-title {
    color: rgb(145, 22, 145);
    margin-top: 0;
  }
  
.user-evaluation-images {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
.user-evaluation-images img {
    width: 30%;
    border-radius: 10px;
  }


  
.evaluation-content {
    display: flex;
    flex-wrap: wrap;
  }
  
.sub-section {
    flex: 1 1 calc(50% - 10px); /* Two boxes side by side with space */
    margin-bottom: 20px;
    margin-right: 20px; /* Space between boxes */
  }
  
.purple-box {
    background-color: purple;
    color: white;
    padding: 10px;
    border-radius: 8px;
  }
  
.sub-section-title {
    margin-top: 0;
    font-size: 1.2em;
  }

