@tailwind base;
@tailwind components;
@tailwind utilities;

body .swipe-card {
    display: flex;
    width: 380px;
    height: 570px;
    overflow: hidden;
    border: solid;
    border-radius: 10%;
    @apply bg-gradient-to-b from-violet-100 to-orange-400
}

.profile-content {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.handle {
  cursor: grab;
}

.handle:active {
  cursor: grabbing;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.profile-content img{
  pointer-events: none;
  width: 350px;
  height: 350px;
  border-radius: 10%;
}
