@tailwind base;
@tailwind components;
@tailwind utilities;

.details-container {
  max-width: 1200px;
  margin: 45px auto 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.dog-details-container {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 85%;
  margin-top: 20px; 
  @apply bg-orange-300
}

.dog-image {
  display: flex;
  justify-content: center;
  overflow: hidden;
  @apply rounded-lg;
}

.dog-image img {
  width: 100%; 
  border-radius: 0.5rem 0.5rem 0 0;
}

.dog-details-info {
  padding: 20px;
}

.dog-details-container .dog-details-info .personality-attributes{
    font-size: 18px;
    max-height: 300px;
    padding: 15px;
    @apply rounded-lg bg-gradient-to-tr from-violet-400 border-orange-400;
}

.remove-button,
.back-button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.remove-button {
  background-color: red;
  color: white;
}

.back-button {
  background-color: green;
  color: white;
}

.info{
    border-radius: 10px;
    padding: 10px;
}

.h3 {
  margin-top: 20px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  @apply bg-orange-300
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.outlineText {
  -webkit-text-stroke: 2px white;
}
