@tailwind base;
@tailwind components;
@tailwind utilities;

.login-form {
    display: flexbox;
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    @apply inline-grid bg-indigo-100 text-purple-600
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  @apply bg-violet-400
}

.sign-in-btn {
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  margin: 10px;
  @apply bg-indigo-300
}

.sign-in-btn:hover {
  @apply bg-gradient-to-t from-blue-400 to-blue-900
}

.no-acnt{ 
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 15px;
  cursor: pointer; 
}

.login-wrapper {
  position: relative;
}

.tagline {
  
  bottom: 20px; /* Distance from the bottom of the parent (login-box) */
  color: black;
}
