@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: white;
    height: 50px;
    margin-bottom: 20px;
}
  
.nav-item {
    padding: 12px;
}
  
.dropdown {
    position: absolute;
    top: 0px;
    right: 51px;
    cursor: pointer;

}
  
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #555;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
  
.dropdown-menu a {
    text-decoration: none;
    padding: 5px;
    @apply text-purple-100
}
  
.dropdown-menu a:hover {
    background-color: #777;
}
  
