@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: white;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    @apply bg-gradient-to-r from-slate-700 to-slate-900
}
  
.nav-item {
    padding: 12px;
}
  
.dropdown {
    position: absolute;
    top: 0px;
    right: 51px;
    cursor: pointer;
}
  
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #555;
    display: flex;
    flex-direction: column;
    padding: 10px;
    @apply bg-gradient-to-r from-slate-700 to-slate-900
}
  
.dropdown-menu a {
    text-decoration: none;
    padding: 5px;
    @apply text-purple-100
}
  
.dropdown-menu a:hover {
    background-color: #777;
}
  
.logo-link {
    display: block;
    padding: 10px;
}
  
.logo {
    width: 120px;
    height: auto;
    filter: brightness(0.8);
    font-family: 'YourFunFont', sans-serif;
    color: #a29bfe;
}
  
