@tailwind base;
@tailwind components;
@tailwind utilities;

.dogResults {
    display:flex;
    flex-direction:row;
    align-items:center;
    width:100%; 
}

.dogResultsImage {
    flex: 0 0 600px;
}

.dogResultsMainPart{
    flex:1;
}

.dogResultsRemoveButton{
    flex: 0 0 200px;
}
  