@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(173, 216, 230, .5), rgba(173, 216, 230, 0.5)),
        url("https://img.freepik.com/premium-vector/seamless-pattern-cute-dog-puppy-cartoon-funny-happy-dog-character-with-simple-shape-style-illustration-background-wallpaper-textile-fabric_253081-198.jpg?w=2000");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

#content-container {
    @apply p-5; 
}

.dogResults {
    @apply flex flex-row text-center items-center w-full;
}

.dogResultsImage {
    width: 600px;
    @apply flex-shrink-0;
}

.dogResultsMainPart {
    @apply flex-1;
}

.dogResultsRemoveButton {
    width : 200px;
    @apply flex-shrink-0 ;
}

.dogResults img {
    width: 400px;
    height: 400px;
    @apply rounded-full;
}
